<div id="<%= dom_id finance %>">
  <td class="p-4 text-base font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <%= finance.community.name %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
    <%= finance.description %>
  </td>
  <td class="p-4 text-base font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <%= to_price(finance.price) %>
  </td>
  <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-gray-400">
    <%= finance.period %>
  </td>
  <td class="p-4 text-base font-bold text-gray-900 whitespace-nowrap dark:text-white">
    <%= to_price(finance.balance) %>
  </td>
</div>