<%= form_with(model: finance, class: "contents text-white flex flex-col gap-5 mt-4" ) do |form| %>
  <% if finance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
        <% finance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.collection_select :community_id, Community.all, :id, :name, { prompt: "Select a community" }, class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": finance.errors[:community_id].none?, "border-red-400 focus:outline-red-600": finance.errors[:community_id].any?}] %>
  </div>

  <div>
    <%= form.textarea :description, placeholder: "description", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": finance.errors[:description].none?, "border-red-400 focus:outline-red-600": finance.errors[:description].any?}] %>
  </div>

  <div>
    <%= form.text_field :price, placeholder: "price", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": finance.errors[:price].none?, "border-red-400 focus:outline-red-600": finance.errors[:price].any?}] %>
  </div>

  <div>
    <%= form.select :period, Finance.periods.keys.map { |key| [key.humanize, key] }, { prompt: "Select a period" }, class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": finance.errors[:period].none?, "border-red-400 focus:outline-red-600": finance.errors[:period].any?}] %>
  </div>

  <div>
    <%= form.text_field :balance, placeholder: "balance", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": finance.errors[:balance].none?, "border-red-400 focus:outline-red-600": finance.errors[:balance].any?}] %>
  </div>

  <div>
    <%= form.submit nil, class:"font-bold px-4 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-500 inline-flex items-center" %>
  </div>
<% end %>