<%= form_with(model: payment, class: "contents text-white flex flex-col gap-5 mt-4" ) do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :amount, placeholder: "amount", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": payment.errors[:amount].none?, "border-red-400 focus:outline-red-600": payment.errors[:amount].any?}] %>
  </div>

  <div>
    <%= form.number_field :payment_method, placeholder: "payment_method", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": payment.errors[:payment_method].none?, "border-red-400 focus:outline-red-600": payment.errors[:payment_method].any?}] %>
  </div>

  <div>
    <%= form.text_field :notes, placeholder: "notes", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": payment.errors[:notes].none?, "border-red-400 focus:outline-red-600": payment.errors[:notes].any?}] %>
  </div>

  <div>
    <%= form.number_field :status, placeholder: "status", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": payment.errors[:status].none?, "border-red-400 focus:outline-red-600": payment.errors[:status].any?}] %>
  </div>

  <div>
    <%= form.datetime_field :paid_at, placeholder: "paid_at", class: ["block shadow-sm rounded-md border bg-gray-700 px-3 py-2 mt-2 w-full", {"border-gray-600 focus:outline-blue-600": payment.errors[:paid_at].none?, "border-red-400 focus:outline-red-600": payment.errors[:paid_at].any?}] %>
  </div>

  <div>
    <%= form.submit nil, class:"font-bold px-4 py-2 bg-blue-600 text-white rounded-md shadow-md hover:bg-blue-500 inline-flex items-center" %>
  </div>
<% end %>