<div id="<%= dom_id payment %>">
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= payment.amount %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= payment.payment_method %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= payment.notes %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= payment.status %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= payment.paid_at %>
    </td>
  </div>