<div id="<%= dom_id financial %>">
      <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= financial.community_id %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= financial.description %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= financial.price %>
    </td>
        <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <%= financial.period %>
    </td>
  </div>