<% content_for :title, "Showing community" %>
<div class="w-full">
  <div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full mb-1">
      <div class="mb-4">
        <nav class="flex mb-5" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
            <li class="inline-flex items-center">
              <a href="/" class="inline-flex items-center text-gray-700 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white">
                <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                Home
              </a>
            </li>
            <div class="flex items-center">
              <a href="/communities" class="inline-flex items-center text-gray-700 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                Communities
              </a>
            </div>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500" aria-current="page"><%= @community.name %></span>
            </div>
          </li>
        </ol>
      </nav>
      <div class="text-5xl flex items-center font-semibold text-gray-900 dark:text-white">
        <div class="flex flex-col items-start">
          <div><%= @community.name %></div>
          <div class="text-sm font-normal text-gray-500 dark:text-gray-400"> <%= @community.descriptions %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full">
  <section class="bg-white dark:bg-gray-800">
    <div class="py-4 px-4">
      <dl>
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Details</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non in modi nemo placeat possimus ipsam voluptatem veritatis mollitia, suscipit eligendi veniam dolore optio similique vel quisquam adipisci iusto blanditiis. Voluptatem dignissimos recusandae nemo placeat reprehenderit vel ipsum repudiandae exercitationem praesentium id temporibus eligendi cum ad reiciendis cupiditate soluta provident facilis expedita aliquid deleniti explicabo delectus, doloremque, voluptate incidunt. Vero cum nam incidunt sunt sint hic distinctio impedit? Soluta quaerat sed tenetur quisquam saepe debitis autem ea error? Debitis dolor odit nam ratione, aliquam atque sit incidunt sequi libero fugiat ut in minima nisi mollitia dicta vel deserunt corrupti beatae adipisci perferendis! Nobis sint quasi nam nesciunt quibusdam distinctio placeat dolore suscipit temporibus illo. Animi, aliquam. Necessitatibus officiis blanditiis cum tempore! Odit dicta unde temporibus quisquam perferendis aspernatur voluptates assumenda voluptas ea reiciendis, illum tempora nisi ratione dolorem animi provident? Eaque dolore vero odit animi. Reprehenderit, labore accusantium, animi aut tenetur voluptas ullam aliquid nostrum, laudantium repudiandae doloribus inventore asperiores fuga! Rem repellendus magni exercitationem ad molestiae, eligendi, asperiores assumenda hic ullam neque blanditiis laboriosam adipisci nostrum quia voluptas iure doloribus sequi in iste sit ipsa a tempore. Inventore mollitia ipsam, ut quas molestiae sequi adipisci accusamus ratione voluptas asperiores libero?
        </dd>
      </dl>
      <dl class="flex items-center space-x-6">
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Category</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">Electronics/PC</dd>
        </div>
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Item weight</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">12kg</dd>
        </div>
        <div>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Item weight</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">12kg</dd>
        </div>
      </dl>
      <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">Members</h2>
      <div class="flex flex-wrap">
        <% @community.members.each do |member| %>
          <div class="px-4 py-2 mr-2 mb-2 text-sm font-medium text-gray-900 bg-gray-200 rounded-lg dark:bg-gray-700 dark:text-white">
            <img src="https://randomuser.me/api/portraits/thumb/men/<%= member.id.to_i % 100 %>.jpg" alt="<%= member.username %>" class="w-8 h-8 rounded-full mr-2 inline-block">
            <%= link_to member.username, member %>
          </div>
        <% end %>
      </div>
      <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">Members</h2>
      <div class="flex flex-wrap">
        <% @community.events.each do |events| %>
          <div class="px-4 py-2 mr-2 mb-2 text-sm font-medium text-gray-900 bg-gray-200 rounded-lg dark:bg-gray-700 dark:text-white">
            <%= link_to events.name, events %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
